.container {
    text-align: center;
    margin-top: 20px;
}
  
.card {border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}
  
.error {
    color: red;
}

.pizza-image {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
}